@font-face {
    font-family: "WiiSans";
    src: url("./assets/fonts/contm.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rodin";
    src: url("./assets/fonts/Rodin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "digital-dream";
    src: url("./assets/fonts/DIGITALDREAM.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "e1234";
    src: url("./assets/fonts/E1234.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: url(./assets/wiicursor.cur), auto;
}

.mm-striped-bg {
    background-image: linear-gradient(
        to bottom,
        #f0f0f0 25%,
        transparent 25%,
        transparent 50%,
        #f0f0f0 50%,
        #f0f0f0 75%,
        transparent 75%,
        transparent
    );
    background-size: 12px 12px;
}

.ec-striped-bg {
    background-image: linear-gradient(
        to bottom,
        #e0e0e0 25%,
        transparent 25%,
        transparent 50%,
        #e0e0e0 50%,
        #e0e0e0 75%,
        transparent 75%,
        transparent
    );
    background-size: 5px 5px;
}

.options-button-height {
    height: 140px;
}

.mail-option-button-size {
    font-size: 40px;
    line-height: 40px;
}

.mm-bar {
    border-top: none;
    border-bottom: 6px solid #00c4ff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.mm-left-box {
    width: calc(50% - 8rem);
    height: 100px;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    transform: translateX(-17rem);
    position: absolute;
    border-bottom-right-radius: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mm-left-bar {
    border-top: 4px solid #00c4ff;
    border-radius: 50px;
    box-shadow: 0 -2px #00c4ff;
}

.mm-right-box {
    width: calc(50% - 8rem);
    height: 100px;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    transform: translateX(17rem);
    position: absolute;
    border-bottom-left-radius: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mm-right-bar {
    border-top: 4px solid #00c4ff;
    border-radius: 50px;
    box-shadow: 0 -2px #00c4ff;
}

.channel-height {
    height: 12rem;
}

.transparent-border {
    border-color: transparent;
    border-width: 4px;
}

.transition-border {
    transition: border-color 0.2s ease-in-out;
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 2.5s infinite; /* Parpadeo continuo con duración de 1 segundo */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        background-color: transparent;
    }
    100% {
        opacity: 0;
        background-color: black;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}

.fade-in {
    animation: fadeIn 3s forwards;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slower {
    animation: spin-slow 15s linear infinite;
}

.typewriter {
    width: 3ch; /* Fijar el ancho de la animación al ancho máximo del texto */
    overflow: hidden; /* Ocultar el contenido extra */
    border-right: 0.1em solid white; /* Barra de escritura */
    white-space: nowrap; /* Evita que el texto salte a la siguiente línea */
    animation: typing 4s steps(5, end) infinite, blink-caret 0.75s step-end infinite;
    display: inline-block; /* Mostrar en línea */
    position: relative; /* Mantener la posición fija dentro del contenedor */
}

/* Efecto de escritura y borrado */
@keyframes typing {
    0%, 10% {
        width: 0;
    }
    20%, 30% {
        width: 1ch; /* Mostrar < */
    }
    40%, 50% {
        width: 2ch; /* Mostrar </ */
    }
    60%, 70% {
        width: 3ch; /* Mostrar </> */
    }
    80%, 90% {
        width: 2ch; /* Volver a </ */
    }
    100% {
        width: 0; /* Borrar todo */
    }
}

/* Cursor parpadeante */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}


/* Fondo del footer */
.mm-footer-bg {
    background-image: url("assets/svgs/menu-footer.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; /* Cover asegura que cubra tanto el ancho como el alto */
}

/* Altura del footer */
.footer-height {
    height: auto;
    min-height: 322px; /* Altura mínima */
}
